* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 90rem;
  margin: auto;
}

.navbar {
  display: flex;
  align-items: center;
  color: #ffffff;
  top: 0;
  left: 0;
  height: 5.875rem;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  z-index: 2;
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  height: 4.625rem;
  background-color: #ffffff;
  color: #292d33;
}

.navbar-light .header-logo-path {
  fill: #292d33;
}
.header {
  padding-top: 5.875rem;
  min-height: 100vh;
}

.header-image {
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -3.3125rem;
}

.header-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.logo-svg {
  width: 8.75rem;
  height: 2.75rem;
}

.header-nav {
  display: flex;
  flex-basis: 100%;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}

.header-nav-item:not(:last-child) {
  margin-right: 4%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.header-phone {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0.625rem;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  padding: 1.5625rem 3.375rem;
  background-color: #3a71d1;
  border: none;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
}

.header-button {
  padding: 1.5625rem 3.8125rem;
}

.seporator {
  width: 9.375rem;
  height: 0.125rem;
  background-color: #5c8ee5;
}

.header-content {
  padding-top: 9.375rem;
  position: relative;
  z-index: 1;
  color: #ffffff;
}

.header-title {
  font-family: 'Bebas Neue';
  max-width: 67.5rem;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  margin: 1.4375rem 0 2.375rem;
}

.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 3.125rem;
  letter-spacing: 0.11px;
}

.header-features {
  position: relative;
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #ffffff;
}

.header-features-item {
  width: 18rem;
  padding: 1.875rem 3.125rem;
  font-size: 1rem;
  line-height: 160%;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-text {
  margin-bottom: 0;
  margin-top: 0.8125rem;
}

.section {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.section-title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 3.75rem;
  line-height: 120%;
  color: #292d33;
  margin-top: 1.5rem;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}
.steps-item {
  max-width: 20.625rem;
  padding-right: 2rem;
}
.step-num {
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue';
  font-size: 3rem;
  line-height: 120%;
  color: #5c8ee5;
}

.step-num::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #ebebf0;
  margin-left: 1.875rem;
}

.steps-title {
  margin-top: 2.25rem;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
}
.steps-text {
  margin-top: 0.6875rem;
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
}
.steps-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  text-decoration: none;
  color: #5c8ee5;
}

.steps-link::before {
  content: '';
  height: 1px;
  width: 2.5rem;
  background-color: #5c8ee5;
  margin-right: 1.25rem;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 1360px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 1260px) {
  html {
    font-size: 11px;
  }
}
